<template>
    <div class="gallery-grid" v-if="posts.length">
        <div class="column-sizer"></div>
        <div class="gutter-sizer"></div>
        <div
                v-for="post in posts"
                class="grid-item "
                v-bind:class="[
                    'width-' + post[getColsProp()],
                    'height-' + post[getRowsProp()]
                    ]"
                v-bind:data-postId="post.id">
            <div class="grid-item-actions">
                <div class="col-lg-6">
                    <ul class="actions-left">
                        <li>Width</li>
                        <li><a class="btn btn-primary" v-on:click="increaseWidth(post)">+</a></li>
                        <li><a class="btn btn-primary" v-on:click="decreaseWidth(post)">-</a></li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="actions-right">
                        <li>Height</li>
                        <li><a class="btn btn-primary" v-on:click="increaseHeight(post)">+</a></li>
                        <li><a class="btn btn-primary" v-on:click="decreaseHeight(post)">-</a></li>
                    </ul>
                </div>
            </div>
            <img v-bind:src="api_storage + post.image" alt="" class="image-item">
        </div>
    </div>
</template>
<script>
    import Packery from 'packery/dist/packery.pkgd.min';
    import Draggabilly from 'draggabilly/dist/draggabilly.pkgd.min';
    const api_storage = window.location.origin + '/uploads/';
    const api_url = window.location.origin + '/api/';
    export default{
        name: 'posts',
        data(){
            return {
                posts: [],
                all_work: false,
                api_storage: api_storage,
                grid: null
            }
        },
        methods: {
            getPosts(cat,all_work = false){
                var target_cat = 'category/' + cat;
                this.all_work = all_work;
                this.grid = null;
                this.posts = [];
                if(all_work){
                    target_cat = 'category/all-work';
                }
                this.$http.get(api_url + target_cat).then((res) => {
                    this.posts = res.data;
                    setTimeout(() => {
                        if(this.posts.length){
                            this.setUpGrid();
                            this.initDimensions();
                        }else{
                            toastr.warning("There are no posts");
                        }
                    },100)
                }).catch(e => {
                    toastr.error("Error while trying to get posts");
                    console.log(e);
                });
            },
            setUpGrid(){
                var elem = document.querySelector('.gallery-grid');
                var pckry = new Packery( elem, {
                    itemSelector: '.grid-item',
                    columnWidth: '.column-sizer',
                    gutter: '.gutter-sizer'
                });
                pckry.on('dragItemPositioned',() => {
                    console.log('layout completed');
                    this.updateOrder();
                });
                pckry.getItemElements().forEach( function( itemElem ) {
                    var draggie = new Draggabilly( itemElem );
                    pckry.bindDraggabillyEvents( draggie );
                });
                this.grid = pckry;


            },
            initDimensions(){
                var cols_prop = this.getColsProp();
                var rows_prop = this.getRowsProp();
                this.posts.forEach(post_item => {
                    if(!post_item[cols_prop]){
                        post_item[cols_prop] = 1;
                    }
                    if(!post_item[rows_prop]){
                        post_item[rows_prop] = 1;
                    }

                });
            },
            updateGrid(){
                setTimeout(()=>{
                    this.grid.layout();
                },300)
            },
            updateOrder(){
                var orders = [];
                var order_prop = 'order';
                if(this.all_work){
                    order_prop = 'in_all_order';
                }
                this.grid.getItemElements().forEach((item,index) => {
                    var order = {
                        post_id: item.dataset.postid,
                        order: index + 1
                    };
                    orders.push(order);
                });
                this.posts.forEach(post_item => {
                    orders.forEach(order => {
                        if(post_item.id === Number(order.post_id) ){
                            post_item[order_prop] = order.order;
                            console.log('post item updated');
                        }else{
                            console.log('post item NOT updated');
                        }
                    });
                });
                console.log(this.posts);
            },
            increaseWidth(post){
                var cols_prop = this.getColsProp();
                if(post[cols_prop] < 4){
                    post[cols_prop]++;
                    this.updateGrid()
                }
            },
            decreaseWidth(post){
                var cols_prop = this.getColsProp();
                if(post[cols_prop] > 1){
                    post[cols_prop]--;
                    this.updateGrid()
                }
            },
            increaseHeight(post){
                var rows_prop = this.getRowsProp();
                if(post[rows_prop] < 4){
                    post[rows_prop]++;
                    this.updateGrid()
                }
            },
            decreaseHeight(post){
                var rows_prop = this.getRowsProp();
                if(post[rows_prop] > 1){
                    post[rows_prop]--;
                    this.updateGrid()
                }
            },
            getColsProp(){
                if(this.all_work){
                    return 'in_all_columns'
                }else{
                    return 'columns'
                }
            },
            getRowsProp(){
                if(this.all_work){
                    return 'in_all_rows'
                }else{
                    return 'rows'
                }
            }
            ,
            saveGrid(){
                if(this.posts.length){
                    var posts = [];
                    this.posts.forEach(post_item => {
                        var post = {
                            id: post_item.id,
                            order:post_item.order,
                            columns: post_item.columns,
                            rows: post_item.rows,
                            in_all_order: post_item.in_all_order,
                            in_all_columns: post_item.in_all_columns,
                            in_all_rows: post_item.in_all_rows,
                        } ;
                        posts.push(post);
                    });
                    this.$http.post(api_url + 'post/update_grid',posts).then(res => {
                        toastr.success("Grid updated");
                    }).catch(e => {
                        toastr.error("Couldn't update grid");
                        console.log(e);
                    });
                }
            }
        }
    };
</script>