.gallery-grid,
.grid-item,
.column-sizer,
.is-positioning-post-drag,
.is-dragging,
.packery-drop-placeholder {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.gallery-grid {
  background: #DDD;
  max-width: 820px;
}

.gallery-grid .grid-item,
.gallery-grid .column-sizer {
  float: left;
  width: 200px;
  height: 200px;
  -webkit-transition: width .5s, height .5s;
  transition: width .5s, height .5s;
}

.gallery-grid .grid-item:hover,
.gallery-grid .column-sizer:hover {
  cursor: move;
}

.gallery-grid .column-sizer {
  opacity: 0;
}

.gallery-grid .gutter-sizer {
  width: 5px;
}

/* clear fix */

.gallery-grid:after {
  content: '';
  display: block;
  clear: both;
}

/* highlight drag & drop */

/* Draggabilly adds is-dragging */

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
  background: #EA0;
  z-index: 2;
  /* keep dragged item on top */
}

.packery-drop-placeholder {
  outline: 3px dashed rgba(0, 0, 0, 0.5);
  outline-offset: -6px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.grid-item-actions {
  position: absolute;
  opacity: 0;
  color: white;
  min-width: 100%;
  height: 15%;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.grid-item-actions:hover {
  opacity: 1;
}

.grid-item-actions ul.actions-left,
.grid-item-actions ul.actions-right {
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid-item-actions ul.actions-left li,
.grid-item-actions ul.actions-right li {
  display: inline-block;
}

.grid-item-actions ul.actions-left {
  float: left;
}

.grid-item-actions ul.actions-right {
  float: right;
}

.image-item {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.gallery-grid .grid-item.width-1 {
  width: 200px;
}

.gallery-grid .grid-item.width-2 {
  width: 400px;
}

.gallery-grid .grid-item.width-3 {
  width: 600px;
}

.gallery-grid .grid-item.width-4 {
  width: 800px;
}

.gallery-grid .grid-item.height-1 {
  height: 200px;
}

.gallery-grid .grid-item.height-2 {
  height: 400px;
}

.gallery-grid .grid-item.height-3 {
  height: 600px;
}

.gallery-grid .grid-item.height-4 {
  height: 800px;
}

