.gallery-grid,
.grid-item,
.column-sizer,
.is-positioning-post-drag,
.is-dragging,
.packery-drop-placeholder
{ box-sizing: border-box; }
.gallery-grid{
  background: #DDD;
  max-width: 820px;
  .grid-item,.column-sizer{
    float: left;
    width: 200px;
    height: 200px;
    -webkit-transition: width .5s, height .5s;
    -moz-transition: width .5s, height .5s;
    -ms-transition: width .5s, height .5s;
    -o-transition: width .5s, height .5s;
    transition: width .5s, height .5s;
    &:hover{
      cursor: move;
    }
  }
  .column-sizer{
    opacity: 0;
  }
  .gutter-sizer{
    width:5px;
  }
}
/* clear fix */
.gallery-grid:after {
  content: '';
  display: block;
  clear: both;
}
/* highlight drag & drop */

/* Draggabilly adds is-dragging */
.grid-item.is-dragging,
  /* Packery adds class while transitioning to drop position */
.grid-item.is-positioning-post-drag {
  background: #EA0;
  z-index: 2; /* keep dragged item on top */
}
.packery-drop-placeholder {
  outline: 3px dashed hsla(0, 0%, 0%, 0.5);
  outline-offset: -6px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}
.grid-item-actions{
  position: absolute;
  opacity: 0;
  color: white;
  min-width:100%;
  height:15%;
  background: rgba(0, 0, 0,0.3);
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  &:hover{
    opacity: 1;
  }
  ul.actions-left,ul.actions-right{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      display: inline-block;
    }
  }
  ul.actions-left{
    float: left;
  }
  ul.actions-right{
    float: right;
  }
}
.image-item{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.gallery-grid{
  .grid-item{
    &.width-1{
      width: 200px;
    }
    &.width-2{
      width: 400px;
    }
    &.width-3{
      width: 600px;
    }
    &.width-4{
      width: 800px;
    }

    &.height-1{
      height: 200px;
    }
    &.height-2{
      height: 400px;
    }
    &.height-3{
      height: 600px;
    }
    &.height-4{
      height: 800px;
    }
  }
}
